	 
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #000000;
  font-size: 14px;
  background-color: #F1EDED;
  padding: 0 5px;
}

iframe{
    overflow:hidden;
	  background-color: #F1EDED;

}

.gluten {
  color: #FFFFFF;
  background-color: red;
}
.wrapper {
  max-width: 450px;
  margin: auto;
}


section {
  margin-top: 30px;
}


.dish {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}


.dish .info {
  flex-grow: 1;
  flex-basis: 0;
  padding-right: 15px;
}
.dish .name {
  font-size: 17px;
	font-family:'Cabin', sans-serif;
}
.name2 {
	font-size: 20px;
	text-align: center;
	font-family:'Cabin', sans-serif;
	color: #981967;
}

.name3 {
	  font-size: 22px;
	text-align: center;
	font-family:'Cabin', sans-serif;
	color: #981967;
	  text-decoration: underline;

}

.name4 {
	  font-size: 35px;
	text-align: center;
font-family: 'Patua One', cursive;
	color: #FFF;

}

.name5 {
	  font-size: 30px;
	text-align: center;
	font-family:'Cabin', sans-serif;
	color: #FFF;

}

.name6 {
	  font-size: 22px;
	text-align: center;
	font-family:'Cabin', sans-serif;
	color: #FFF;

}

.name7 {
	  font-size: 15px;
	text-align: center;
	font-family:'Cabin', sans-serif;
	color: #FFF;

}

.name8 {
	  font-size: 18px;
	text-align: center;
	font-family:'Cabin', sans-serif;
	color: #FFF;

}

.dish .description {
  font-size: 13px;
	margin-top: 3px;
	padding-bottom: 15px;
}

.div-1 {
	border: 4px double #981967;
	    border-radius:30px; /*Estandar*/
    -webkit-border-radius:30px; /*Safari y Chrome*/
    -moz-border-radius:30px; /*Firefox*/
    -o-border-radius:30px; /*Opera*/
    -ms-border-radius:30px; /*IE 8*/
    }
.div-2 {
	border: 4px double #981967;
	
	background: url(../images/fondofutbol2.jpg) no-repeat center fixed ;
	  background-attachment: scroll;


   text-align: center;
}

.preciomenu {
	border-radius: 25px;
	border: 4px double #981967;
	background-color: #981967;
	width:50%;
	margin-left:25%; 
	margin-right:25%;
	margin-bottom: 7px;
	text-align: center;
    }

.textos {
  font-size: 13px;
	margin-top: 3px;
	padding-bottom: 15px;
	text-align: center;
}
.dish .price {
  text-align: right;
	font-size: 17px;
	font-family:'Cabin', sans-serif;
}

.titulo {
text-align: center;
font-family: 'Dancing Script', cursive;
font-size: 40px;
font-weight: 400;
color: #981767;
}

.titulo2 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	font-weight: 400;
	color: #000;
	margin: 5px
}

.titulo3 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	font-weight: 400;
	color: #F1EDED;
	margin: 5px
}

.titulo4 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	font-weight: 400;
	color: #981767;
	margin: 5px
}

.platos {
	text-align: center;
	font-family:'Cabin', sans-serif;
	font-size: 20px;
	color: #ffffff;

}

.platos2 {
	text-align: center;
	font-family:'Cabin', sans-serif;
	font-size: 17px;
	color: #000;

}

.linea {
	text-align: center;
	max-width: 70px;
	margin: auto;
	border-bottom: 2px solid #ff8400;


}

.foto {
text-align: center;
padding-bottom: 30px;
}

footer {
	text-align: center;
	padding-top: 15px;
	background-color: #981767;
	padding-bottom: 15px;	
	color: #F1C8C8;

}
footer a {
	color: #ffffff;
	text-decoration: none;
}
